<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>Category: {{ currentCategoryName }}</h4>
    <hr>
    <div class="container-fluid">
      <div class="row">

        <div *ngFor="let p of products" class="col-md-3">
          <div class="product-box">
<!-- add link on product image & name
passing over {path: 'products/:id', component: ProductDetailsComponent}
-->
            <a routerLink="/products/{{p.id}}">
              <img src="{{p.imageUrl}}"  class="img-responsive">
            </a>
            <a routerLink="/products/{{p.id}}">
              <h1>{{p.name}}</h1>

            </a>

              <div class="price">{{p.unitPrice | currency:'USD'}}</div>
              <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
<!--if products are empty, display this-->
<!--        ? is safe navigation operator, guards against null& undefined values in property paths
 if product is null/undefined or length ==0 -->
        <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">
            no products found
        </div>
      </div>

<!--      footer -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
          <div class="row">
            <div class="col-md-9" style="padding-left: 30%">
<!--                        params of ngb-pagination = properties of productListComp-->
<!--  2 way binding, banana. displays the number on the footer, and that num is updated & highlighted when clicked    -->
 <!-- 1 way binding, when productListComp updates pageSize, UI is updated automatically-->
              <ngb-pagination [(page)]="thePageNumber"
                              [pageSize]="thePageSize"
                              [collectionSize]="theTotalElements"
                              (pageChange)="listProducts()"> <!--event-binding, user clicks a page link calls method listProducts()-->

              </ngb-pagination>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


